<div class="call-simulator">
    <div class="call-simulator__button-wrapper">
        <button
            (click)="startCall()"
            [disabled]="audioService.isRecording"
            class="call-simulator__button"
        >
            Начать разговор
        </button>
        <button
            (click)="endCall()"
            [disabled]="!audioService.isRecording"
            class="call-simulator__button"
        >
            Закончить разговор
        </button>
    </div>
    <div class="call-simulator__caption">
        {{ audioService.getFormattedTime() }}
    </div>
</div>
