$primary-color: #d9dbdf;
$secondary-color: #ca1110;
$accent-color: #fff;
$text-color: #1f1f24;
$background-color: #e9eaed;
$footer-color: #464a53;

$primary-font: 'IBM Plex Sans', sans-serif;
$secondary-font: 'Arial', sans-serif;
