<div class="form__wrapper">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="form">
        <h1 class="form__heading">Авторизация в системе</h1>
        <div class="form__group">
            <label class="form__label" for="login">Логин:</label>
            <input
                class="form__input"
                type="text"
                formControlName="login"
                id="login"
                [required]="true"
            />
            <div class="error-container">
                <div
                    *ngIf="
                        authForm.get('login')?.errors &&
                        authForm.get('login')?.touched
                    "
                >
                    <small
                        class="error"
                        *ngIf="authForm.get('login')?.hasError('required')"
                        >Логин обязателен</small
                    >
                    <small
                        class="error"
                        *ngIf="authForm.get('login')?.hasError('minlength')"
                        >Минимум 3 символа</small
                    >
                </div>
            </div>
        </div>
        <div class="form__group">
            <label class="form__label" for="password">Пароль:</label>
            <input
                class="form__input"
                type="password"
                formControlName="password"
                id="password"
                [required]="true"
            />
            <div class="error-container">
                <div
                    *ngIf="
                        authForm.get('password')?.errors &&
                        authForm.get('password')?.touched
                    "
                >
                    <small
                        class="error"
                        *ngIf="authForm.get('password')?.hasError('required')"
                        >Пароль обязателен</small
                    >
                    <small
                        class="error"
                        *ngIf="authForm.get('password')?.hasError('minlength')"
                        >Минимум 6 символов</small
                    >
                </div>
            </div>
        </div>
        <button class="form__button" type="submit" [disabled]="!authForm.valid">
            Войти
        </button>
    </form>
</div>
