<div class="form__wrapper">
    <form class="form">
        <h1 class="form__heading">Авторизация в системе</h1>
        <div class="form__group">
            <label class="form__label" for="login">Логин:</label>
            <input
                class="form__input"
                type="text"
                id="login"
                name="login"
                required
            />
        </div>
        <div class="form__group">
            <label class="form__label" for="password">Пароль:</label>
            <input
                class="form__input"
                type="password"
                id="password"
                name="password"
                required
            />
        </div>
        <button class="form__button" type="submit">Войти</button>
    </form>
</div>
